<!DOCTYPE html>
<html lang="es">

<!-- head -->
<%- include('./partials/head.ejs') %>

<body>
     
      <!-- h e a d e r -->
<%- include('./partials/header.ejs') %>


    <main>
        <div class="carrito">
            <div class="titulos">
                <h3 class="left-title">Carrito de compras</h3>
                <!-- <div class="right-title">
                    <p class="cantidad"><b>Cantidad</b></p>
                    <p class="precio"><b>Precio</b></p>
                </div> -->
 

            </div>

                <h3 class = "cart-empty">El carrito no tiene productos agregados</h3>

            <table class = "tabla-carrito">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th style = "color:#fff;">Nombre</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>SubTotal</th>
                    </tr>
                </thead>
                <tbody id = "tabla-carrito"></tbody>
            </table>
            <div class="contenedor-btns-carrito">
                <div>
                
                    <button class="actualizar"><a class = "seguir-comprando" href = "/products">Seguir comprando</a></button>
                    <button type = "buttom"class="vaciar" onclick="empty()">Vaciar cesta</button>
                </div>
            </div>

            <section class="finalizar-compra">
                <div class="subt-precio">
                    <p class="subtotal"><b>Total:</b></p>
                    <p class="precio"></p>
                </div>

            <div class="fin-compra-boton">
                <button class="detalles-fin-compra"><i class="fas fa-lock"></i>Finalizar compra</button>
            </div>
            </section>
        </div>

    </main>

<!-- Footer -->
<%- include('./partials/footer.ejs') %>
<%- include('./partials/scripts.ejs') %>
</body>
</html>