<!doctype html>
<html lang="es">

<!-- head -->
<%- include('./partials/head.ejs') %>

    <body>

        <!-- h e a d e r -->
        <%- include('./partials/header.ejs') %>




            <a><img class="centrado" src="/images/akamaruN2.gif" alt=""></a>

            <section class="row">
                <article class="col-12  card pt-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Nosotros</h1>
                    </div>
                </article>
            </section>
            <section class="row">
                <article class="col-12 card p-2 accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn-link btn-block text-left boton-nosotros" type="button"
                                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    Historia
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Akamaru es una empresa argentina de Merchandising de anime que nació en plena
                                    pandemia para llevarle al público fan del anime como Naruto, Dragon Ball, etc., los
                                    mejores productos del mercado con la comodidad de comprar vía web y recibirlos en su
                                    domicilio, sin necesidad de salir de su casa.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn-link btn-block text-left collapsed boton-nosotros" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                    Misión
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>Brindarle a nuestros clientes la mejor experiencia de compra y servicio, con
                                    productos de calidad y con una atención personalizada, con el fin de satisfacer sus
                                    necesidades y expectativas.</p>
                                <p>Nuestro sitio web ofrece todo lo relacionado a:</p>
                                <p> Merchandising de Anime</p>
                                <p> Star Wars</p>
                                <p> Marvel </p>
                                <p> Algunas de nuestras categorías son peluches, figuras, mochilas, juegos y juguetes.
                                    Apuntamos a un publico jóven y al publico en general amantes del anime, Star Wars y
                                    Marvel. </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn-link btn-block text-left collapsed boton-nosotros" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                    Visión
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p> Akamaru desea posicionarse en el 2022 como una de las empresas líderes en la ciudad
                                    de
                                    Buenos Aires, frente a la venta de productos y servicios innovadores del Anime,
                                    Manga y
                                    Video juegos. </p>

                                <p> Certificándose como una empresa de calidad, que apoya el talento artístico de los
                                    ciudadanos interesados en los dibujos con tendencia Japonés. Haciendo más feliz a la
                                    comunidad impactando con una nueva cultura. </p>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn-link btn-block text-left collapsed boton-nosotros" type="button"
                                    data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                    aria-controls="collapseFour">
                                    Valores
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <p> INNOVACION: Nuestros productos, siempre serán cambiantes y creativos, teniendo en
                                    cuenta
                                    la opinión del público. </p>
                                <p> CALIDAD: El producto, es de resistencia y de gran utilidad para el comprador o
                                    cliente.</p>
                                <p>HONESTIDAD: Somos una empresa seria que responde, verdaderamente con su función sin
                                    causar daño y de igual manera algo ilegal.</p>
                                <p> LEALTAD: Somos cumplidores de nuestras palabras y actos que realice la empresa
                                    Akamaru en cualquier circunstancia. </p>
                                <p> HUMILDAD: Servimos a todo tipo de cliente sin importar, de quien se trate .Sera
                                    atendido de la mejor forma y de igual manera será tratado. Siempre pensando en los
                                    clientes. </p>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn-link btn-block text-left collapsed boton-nosotros" type="button"
                                    data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                                    aria-controls="collapseFive">
                                    Equipo
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <h3>AMESTOY GABRIEL:</h3>
                                <p>28 años. <br>
                                    Full Stack developer.<br>
                                    Moreno, Buenos Aires.<br>
                                    Autodidacta de la programación, amante de la música y los deportes.<br>
                                    Perfil GITHUB: <a href="https://github.com/GabrielAmestoy"
                                        target="_blank">https://github.com/GabrielAmestoy </a> </p>
                                </p>

                                <h3>DOMINGUEZ MARIA:</h3>
                                <p> 23 años.<br>
                                    Full Stack developer.<br>
                                    Pilar, Buenos Aires.<br>
                                    Soy una persona muy curiosa, me gusta cocinar, leer, estudiar y viajar para conocer
                                    nuevos lugares.<br>
                                    Perfil GITHUB: <a href="https://github.com/MariaDominguez8"
                                        target="_blank">https://github.com/MariaDominguez8 </a> </p>
                                </p>

                                <h3>PARODI, SOFIA:</h3>
                                <p> 21 años.<br>
                                    Full Stack developer.<br>
                                    San Martín, Buenos Aires.<br>
                                    Amante de los gatitos, fanática de Star Wars y One Piece.<br>
                                    Perfil GITHUB: <a href="https://github.com/SofiaParodi"
                                        target="_blank">https://github.com/SofiaParodi </a> </p>
                                </p>

                                <h3>SINCHES HUGO IVÁN :</h3>
                                <p> 35 años.<br>
                                    Full Stack developer. <br>
                                    Comodoro Rivadavia, Chubut. <br>
                                    Soy una persona dedicada y tengo una hija. Me gusta la programación y todo lo
                                    relacionado a la tecnologia. Gracias a mi iniciativa autodidacta, considero que
                                    puedo aportar valor al proyecto y seguir desarrollándome profesionalmente. Como
                                    persona organizada y con una gran motivación, soy capaz de adaptarme a cualquier
                                    circunstancia y dar siempre lo mejor de mí en cualquier proyecto, al mismo tiempo
                                    que me esfuerzo por trabajar en equipo y fomentar valores como los del compañerismo.
                                    <br>
                                    Perfil GITHUB: <a href="https://github.com/Sinches-Hugo-Ivan"
                                        target="_blank">https://github.com/Sinches-Hugo-Ivan </a> </p>


                            </div>
                        </div>
                    </div>

                </article>
            </section>


            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>
                <%- include('./partials/scripts.ejs') %>


                    <!-- Optional JavaScript -->
                    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                        crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                        crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                        crossorigin="anonymous"></script>




    </body>

</html>