.main .contenedor-Informacion{
    background-color:#F2F3F4;
    padding:  50px 100px;
}
.main .titulo-info-personal{
    border-bottom: 1px solid silver;
    margin-bottom: 40px;
}
.main .contenedor-imagen-perfil{
    display: grid;
    grid-template-columns:15% 85%;
    width: 1000px;
    height: 150px;
    background-color: #fff;
    border: 1px solid silver;
    border-radius: 2px;
    margin-bottom: 40px;
}
.main .imagen-perfil{
    padding: 20px;
    width: 150px;
    height: 100%;
}

.main .foto-perfil{
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.main .input-imagen{
    width: 100%;
    height: 100%;
}
.input-imagen label{
    color: black;
    font-size: 16px;
    padding: 3px 20px;
    background-color: #F2F3F4;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    }
.input-imagen input{
    display: none;
}
.input-imagen p{
    margin-top: 10px;
    font-size: 14px;
    color: grey;
}

/*  juste de Perfil   */
.main .contenerdor-info-basica{
    display: grid;
    grid-template-columns:20% 80%;
    width: 1000px;
    height: 100%;
    background-color: #fff;
    border: 1px solid silver;
    border-radius: 2px;
}

.contenerdor-info-basica p{
    width: 1000px;
    font-size: 16px;
    color: gray;

}
.main .titulo-label{
    font-weight: bold;
    padding: 20px;
}
.main .contenedor-label{
    border-bottom: 1px solid silver;
}
.titulo-label{
    font-size: 16px;
}
.main .contenedor-input{
    padding: 20px;
    border-bottom: 1px solid silver;

}
.main .contenedor-input input{
    background-color: #F2F3F4;
    padding: 5px;
    width: 100%;
    border-radius:5px;
    border:1px solid #F2F3F4;     
}
.main .contenedor-input .editarGenero{
    background-color: #F2F3F4;
    padding: 5px;
    width: 100%;
    border-radius:5px;
    border:1px solid #F2F3F4;
}
.contenedor-boton{
    display: grid;
    padding: 20px;
}
.contenedor-boton button{
    font-size: 16px;
    justify-self: end;
    background-color: black;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    color:#fff;
    border:0px;


}
.contenedor-boton button:hover{
    background-color: #57595A;
}
.main span.mensaje-error-user{
    color:red;
    font-size: 14px;
}