header {
    width: 100%;
    height: 90px;
}


header .div-cont{
    background-color: white;
    padding: 10px;
    margin: auto;
    width: 100%;
    position: fixed;
    z-index: 10000;
}

nav {
    width: 100%;
    margin: auto;
}

.content{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}


.menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: white;
    position: fixed;
    left: 0;
    top: 95px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    left: 0;
    transition: left 0.3s;
}

.enlaces-resp{
    margin: 0;
    padding: 0;
    left: 0;
    transition: left 0.3s;
}

.enlaces-resp > li {
    position: relative;
    display: block;

}

.enlaces-resp > li > a {
    display: block;
    padding: 25px;
}


.nav-right{
    display: none;

}

.logo {
    height: 100%;
}

.logo img{
    display: block;
    height: 100%;
}


header ul li {
    list-style: none;
    display: inline-block;
    margin: 0;   
    padding: 0;
}

/**/
header ul .icons{
    display: block;
    text-decoration: none;
    color: black;
    padding: 19px 15px;
    
}

header ul .enlaces{
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
    
}
header ul a{
    text-decoration: none;
    color: black;
    padding: 15px;
    
}
/**/


header ul a {
    text-decoration: none;
    color: black;
    padding: 15px;
    
}

.burger-menu {
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 30px;
    display: block;
}

.menu_visible{
    left: 100%;
}

.menu > li {
    position: relative;
    display: block;
}

.menu > li > a {
    display: block;
    padding: 25px;
}

.menu li a:hover{
    color: #E41200;
    transition: all .3s;
}



/* s u b m e n u */

.submenu{
    display: none;
}
 
#buscar{
    display: none;
}


.form-control-search{
   width: 300px;
}

.buscador btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
    color:black;
    background: #e4e1e1;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
     
}


/* t a b l e t */
@media (min-width:768px) {
    /*-*/
    .menu-icons {
        padding: 5px;
        margin: 0;

    } 
    img.icon-foto-perfil{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
    }
    .icon-foto-perfil-submenu{
        margin: auto 8px auto auto;
        padding: 5px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        object-fit: cover;
    }
    .ul-session{
        margin-top: 7px;
        background-color: #fff;
        border-radius:1px;
        right: 5px;
        display: block;
        position: absolute;
        width: 170px;
        height: 155px;
        padding: 0;
        visibility: hidden;
        display: block;
        box-shadow: 0px 0px 6px 1px #d3d3d3;
    }
    .menu-icons li:hover .ul-session{
        visibility: visible;
    }

    .submenu-perfil{
        display: block;
        font-size: 16px;
        padding:8px;
        width: 170px;
        height: 100%;
    }
    .menu-perfil{
        display: block;
        font-size: 16px;
        padding:12px;
        width: 170px;
        height: 100%;
    }
    .menu-perfil:hover{
        background-color: #eeeeee;    
    }
    /**/

    .nav-right{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;

    }

    .burger-menu{
        width: 0%
    }

    .menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: white;
        position: fixed;
        left: 0;
        top: 95px;
        width: 100%;
        padding: 20px 0;    
        left: 0%;
        transition: left 0.3s;
    }

    /* .menu-icons {
        padding: 0;
        margin: 0;
    } */

    .menu_visible{
        width: 410px;
        left: 100%;
    }
    
    .menu > li {
        background-color: #fff;
        position: relative;
        display: block;
    }
    
    .menu > li > a {
        display: block;
        padding: 25px;
    }
    
    .menu li a:hover{
        color: #E41200;
        transition: all .3s;
    }

    .enlaces-resp{
        display: none;
    }

    /* s u b m e n u */

    .submenu{
        display: none;
    }

    }


/* d e s k t o p */
@media (min-width:1024px) {
    
    .enlaces {
        display: inline;
    }

    .burger-menu{
        display: none;
    }

    .nav-left{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;

    }
    
    .nav-right{
        width: 75%;
        display: flex;
        justify-content: flex-end;
    }

    .menu{
        position: relative;
        top: 0;
        margin: 0;
        padding: 5px 20px;
    }

    .menu > li {
        position: relative;
        display:inline-block;
    }
    
    .menu > li > a {
        display: block;
        padding: 15px;
    }

    .menu li a:hover{
        color: #E41200;
        transition: all .3s;
    }

    .menu_visible{
        left: 0%;
    }
    
    ul .enlaces-resp {
        display: none;
    }
    

    /* s u b m e n u */
        .submenu {
            display: block;
            position: absolute;
            background: white;
            width: 150%;
            visibility: hidden;
        }

        .submenu li a{
            display: block;
            align-items: flex-start;
            padding: 20px;
            width: 100%;
        }

        .menu li:hover .submenu{
            visibility: visible;
            padding: 30px;
        }

       
        
}