.containerSearch {
  width: 90%;
  background: #ffffff;
  padding: 30px;
  margin: 2em auto;  
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: rgb(0, 0, 0);
  box-shadow: 7px 13px 37px #000;
}

.img-product{
  object-fit: contain;
  display: block;
  width: 100%;
  height:300px;
  background-color: #ffffff;
  border:1px #000 solid;
}

/*---------GALERIA DE PRODUCTOS---------*/

.conteiner-products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin:auto;
  width: 90%;
  background-color: #fff;
  height: auto;
  padding-top: 20px;
}

.product{
  width: 90%;
  height: 50%;
  margin-bottom: 20px;
  justify-content: space-between;
}


.conteiner-products .product .img-product{
  object-fit: contain;
  display: block;
  width: 100%;
  height:300px;
  background-color: #ffffff;
  border:1px #000 solid;
}

.conteiner-products .product .product-description{
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 7px;
  border-left: 1px #000 solid;
  border-right: 1px #000 solid;
  border-bottom:  1px #000 solid;
}
.name-product{
  font-size: 1.3em;
  color:#686868;
  margin: auto;

}
.product p{
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  margin: auto;
}
.span{
  color: black;
  font-weight: normal;
  margin: auto;
}

@media(min-width:510px){

  .containerSearch {
    width: 90%;
    background: #ffffff;
    padding: 30px;
    margin: 2em auto;  
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
  }

  .product{
      width: 45%;
      height: 400px;
      }
  }


@media(min-width:768px){

  .containerSearch {
    width: 90%;
    background: #ffffff;
    padding: 30px;
    margin: 2em auto;  
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
  }
  .main{
      padding-bottom:20px;
      background-color: #fafafa;
  }
  .product:hover{
      transform: scale(1.1);
      box-shadow: 0px 5px 25px 8px #222222;
      transition: 0.1s;
  }
  .slider-img{
      height: 350px;
  }
  .titulo-Destacados{
      font-size: 2em;
      padding: 70px 0 0 0;
  }
  .product{
      width: 250px;
      height: 400px;
      margin: 0 10px 40px 10px; 
  }
  .conteiner-products{
      padding-top: 40px;

  }
  .conteiner-products{
      width: 90%;
  }
}