/*-----------MEIN-----------*/

/*---------CAROUSEL---------*/
.main .slider-img{
    display: block;
    width: 100%;
    height: 200px;
    object-fit:cover;
}

/*---------GALERIA DE PRODUCTOS---------*/

.main .titulo-Destacados{
    color:#686868;
    text-align: center;
    font-size: 1.4em;
    padding:40px 0 10px 0;
}
 
.main .conteiner-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:auto;
    width: 90%;
    background-color: #fff;
    height: auto;
    padding-top: 20px;
}

.main .product{
    width: 90%;
    height: 50%;
    margin-bottom: 20px;
    justify-content: space-between;
}


.main .conteiner-products .product .img-product{
    object-fit: contain;
    display: block;
    width: 100%;
    height:300px;
    background-color: #ffffff;
    border:1px #000 solid;
}

.main .conteiner-products .product .product-description{ /*cambios en margin y padinng de p span y description*/
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 7px;
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
    border-bottom:  1px #000 solid;
}
.main h3.name-product{
    font-size: 1.3em;
    color:#686868;
    margin: auto;

}
.main p{
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    margin: auto;
}
.main span{
    color: black;
    font-weight: normal;
    margin: auto;
}

@media(min-width:510px){
    .main .product{
        width: 45%;
        height: 400px;
        }
    }
@media(min-width:768px){
    .main{
        padding-bottom:20px;
        background-color: #fafafa;
    }
    .product:hover{
        transform: scale(1.1);
        box-shadow: 0px 5px 25px 8px #222222;
        transition: 0.1s;
    }
    .main .slider-img{
        height: 350px;
    }
    .main .titulo-Destacados{
        font-size: 2em;
        padding: 70px 0 0 0;
    }
    .main .product{
        width: 250px;
        height: 400px;
        margin: 0 10px 40px 10px; 
    }
    .main .conteiner-products{
        padding-top: 40px;

    }
    .main .conteiner-products{
        width: 90%;
    }
}
